In [ ]:
import pandas as pd
pd.read_csv('/content/exemplo milho editado.csv.csv')

,,Id,Date_time,Latitude,Longitude,Elev_m,Diffstatus,Num_sats,Areacnton,Areaswchon,Man_moist,...,Cycle,Load,Serial,Crop,Area_in,Markers,Dry_kg_ha,Theme,UTM_X,UTM_Y
22,06/27/2005 03:06:33 PM,-17.824600,-52.083165,860.5,0,7,Y,Y,15.0,4.8,4.8,...,2006180193,MILHO,26643.17,0,917.2343,Farm 1 fmm Sede9,385214,9688,8028887.0,5.0
23,06/27/2005 03:06:36 PM,-17.824625,-52.083153,860.5,0,7,Y,Y,15.0,4.8,4.8,...,2006180193,MILHO,27023.79,0,855.8706,Farm 1 fmm Sede9,385216,1875,8028885.0,NaN
24,06/27/2005 03:06:37 PM,-17.824646,-52.083143,860.5,0,7,Y,Y,15.0,4.8,4.8,...,2006180193,MILHO,27277.53,0,911.9013,Farm 1 fmm Sede9,385217,4375,8028882.0,5.0
30,06/27/2005 03:06:50 PM,-17.824796,-52.083073,860.7,0,7,Y,Y,15.0,4.8,4.8,...,2006180193,MILHO,30829.96,0,4152.0847,Farm 1 fmm Sede9,385224,8125,8028866.0,NaN
31,06/27/2005 03:06:52 PM,-17.824821,-52.083061,860.9,0,7,Y,Y,15.0,4.8,4.8,...,2006180193,MILHO,30449.34,0,4113.2182,Farm 1 fmm Sede9,385226,312,8028863.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,06/02/2005 01:56:43 PM,-17.826555,-52.086723,868.2,0,7,N,N,15.0,23.7,23.7,...,2006180193,SOJA,31083.70,0,331.0344,Farm 1 calibrac,384839,312,8028669.0,NaN
296,06/02/2005 01:56:46 PM,-17.826560,-52.086783,868.3,0,7,N,N,15.0,23.9,23.9,...,2006180193,SOJA,30829.96,0,328.5438,Farm 1 calibrac,384832,5625,8028668.0,5.0
309,06/02/2005 01:57:13 PM,-17.826433,-52.086741,868.0,0,7,N,N,15.0,24.1,24.1,...,2006180193,SOJA,4948.02,0,1966.8321,Farm 1 calibrac,384836,9375,8028682.0,5.0
310,06/02/2005 01:57:14 PM,-17.826435,-52.086748,867.8,0,7,N,N,15.0,24.1,24.1,...,2006180193,SOJA,5963.00,0,1731.5061,Farm 1 calibrac,384836,5313,8028682.0,5.0
311,06/02/2005 01:57:16 PM,-17.826436,-52.086753,867.6,0,7,N,N,15.0,24.2,24.2,...,2006180193,SOJA,5582.38,0,1612.5151,Farm 1 calibrac,384835,7188,8028682.0,5.0